<section class = "dfooter">
    <footer>
      <p style = "color:white;">CST336 Internet Programming. 2021. Zamora, Vega, Zhang</p>
    </footer>
    <footer>
      <p style = "color:white;"><strong>Disclamer</strong>: The information in this webpage is fictious</p>
    </footer>
    <footer>
      <p style = "color:white;"><strong>It is used for academic purposes only</strong></p>
    </footer>
  </section>